  body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    box-sizing: border-box;
  }
  .container {
    margin-top: 0px;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(235, 231, 231);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .container h1 {
    font-size: 60px;
  }
  .controls {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #valueInput{
    font-size:30px;
  }
  input {
    padding: 8px;
    font-size: 16px;
    margin-right: 10px;
  }
  button {
    padding: 8px 15px;
    font-size: 30px;
    cursor: pointer;
    margin: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;

  }  
  button:hover {
    background-color: #60c8f1;
  }  
  .canvas-size{
    display: flex;
    justify-content: start;
    align-items: end;
  }
