/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

/* Header Styles */
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}
main {
    padding: 50px 0;
    background-color: #fff;
}
.tree-options {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 100px;
    flex-wrap: wrap;
}
#first-row{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
    margin-top:75px;
}
#second-row{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom:75px;
}
.tree-option {
    text-align: center;
    background-color: #576086;
    padding: 20px;
    color:#f4f4f4;
    border: 1px solid #ddd;
    font-size: 20px;
    border-radius: 20px;
    width: 30%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 150px;
    width: 250px;
    cursor: pointer;
}
.tree-option:hover{
    border:5px solid red;
    box-shadow: 0 4px 6px rgba(148, 42, 42, 0.1);
}
.tree-option h3 {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}

.view-btn a{
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.view-btn:hover {
    background-color: #45a049;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 15px 0;
    text-align: center;
}

footer p {
    margin: 0;
}
